@{
    ViewData["Title"] = "Home Page";
}
    
        <div class="text-center">

            <h1> <a class="nav-link text-dark" asp-area="" asp-controller="StarWars" asp-action="CharactersPlanets"> In a Galaxy Far, Far, Away</a> </h1>
            <img src="https://huangfei.info/wp-content/uploads/2019/12/star-wars-comic-coloring-pages-star-wars-color-page-coloring-pages-for-kids-cartoon-coloring-comic-wars-star-pages-.jpg" alt="StarWars" height="300" width="275">
        </div>
    